.graph-container {
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;
}
.graph-menu {
	flex: 0;
	padding-bottom: 1vh;
	margin: 0.5vh 0;
}
.graph-options {
	padding-bottom: 0.7vh;
	margin-bottom: 0.5vh;
	color: white;
	cursor: pointer;
}

.graph-options:hover,
.graph-options.active {
	border-bottom: 1px solid white;
}

.graph-options-divider {
	color: var(--primary-complement);
	margin: 0 1vw;
}

.graph {
	flex: 1;
}
