@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	background-color: var(--body);
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

header {
	background-color: var(--header-bgcolor);
	color: var(--header-titlecolor);
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: 'Calibri', sans-serif;
	padding: 1vh 1rem;
	height: 10vh;
	width: 100vw;
}

main {
	height: 88vh;
	width: 99vw;
	padding: 0.5vh 0.25vw;
	display: flex;
	flex-direction: column;
}

img[src$='.png'] {
	height: 2vh;
}

.today,
.future {
	flex: 1;
	margin: 0.5vh 0.25vw;
	display: flex;
	flex-direction: column;
}
