/* container for all the .today elements */
.today .card {
	height: 100%;
	width: 100%;
	flex: 1;
}

.today-split {
	/* layout - grid */
	display: grid;
	align-items: center;
	justify-content: space-evenly;
	grid-template-columns: 1fr 2fr;
	flex: 1;
	/* Appearance */
	font-size: calc(max(12px, 1vh));

	background-color: var(--graph);
	padding: 1vh 0.5vw;
}
